* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 45em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 27.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: #4c4e61;
  background-color: #ffffff;
}

.site-container {
  margin: 10vh auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
@media only screen and (max-width: 40.6em) {
  .site-container {
    margin: 6.4rem auto;
  }
}

.heading-primary {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
}
@media only screen and (max-width: 27.5em) {
  .heading-primary {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 23.5em) {
  .heading-primary {
    font-size: 3rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 200;
  line-height: 1.2;
}
@media only screen and (max-width: 27.5em) {
  .heading-secondary {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 23.5em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.4rem;
}
@media only screen and (max-width: 62.5em) {
  .feature {
    padding: 0 1.2rem;
  }
}
@media only screen and (max-width: 27.5em) {
  .feature {
    padding: 0 3.2rem;
  }
}
.feature__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  max-width: 50rem;
}
@media only screen and (max-width: 27.5em) {
  .feature__header {
    gap: 2.4rem;
  }
}
.feature__description {
  text-align: center;
}
@media only screen and (max-width: 27.5em) {
  .feature__description {
    font-size: 1.8rem;
  }
}
.feature__cards {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  column-gap: 3.2rem;
  row-gap: 3.6rem;
}
@media only screen and (max-width: 56.25em) {
  .feature__cards {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }
}
@media only screen and (max-width: 40.6em) {
  .feature__cards {
    grid-template-columns: 1fr;
  }
}
.feature__card {
  padding: 3.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(76, 78, 97, 0.3);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.feature__card--cyan {
  grid-column: 1/2;
  grid-row: 1/3;
  border-top: 0.5rem solid #45d3d3;
}
@media only screen and (max-width: 56.25em) {
  .feature__card--cyan {
    grid-column: auto;
    grid-row: auto;
  }
}
.feature__card--red {
  grid-column: 2/3;
  grid-row: 1/2;
  border-top: 0.5rem solid #ea5353;
}
@media only screen and (max-width: 56.25em) {
  .feature__card--red {
    grid-column: auto;
    grid-row: auto;
  }
}
.feature__card--orange {
  grid-column: 2/3;
  grid-row: 2/3;
  border-top: 0.5rem solid #fcaf4a;
}
@media only screen and (max-width: 56.25em) {
  .feature__card--orange {
    grid-column: auto;
    grid-row: auto;
  }
}
.feature__card--blue {
  grid-column: 3/4;
  grid-row: 1/3;
  border-top: 0.5rem solid #549ef2;
}
@media only screen and (max-width: 56.25em) {
  .feature__card--blue {
    grid-column: auto;
    grid-row: auto;
  }
}
.feature__title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
}
.feature__text {
  color: #697077;
}
.feature__icon {
  padding: 2.4rem 1rem;
  align-self: end;
}

.attribution {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #697077;
}
.attribution a {
  color: #4c4e61;
  text-decoration: none;
  font-weight: 600;
}
.attribution a:hover {
  color: #fcaf4a;
}
